.page-container {
    background-color: #22254b;
    margin: 0;
}

header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373b69;
}

header h1 {
    color: #eee;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px 16px;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: #22254b;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 16px;
    background-color: #373b69;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: #22254b;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    padding: 32px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    transform: translateY(101%);
}

.movie:hover .overview {
    transform: translateY(0);
}
